VER   020000000000 Ecritures provenant d'Agroedi1
DOS      34426                 Dossier 34426        000000 0
ECR   E110042008   25827         COOPERATIVE DU TRIEUX               AGROEDI 16  627938590002005200820052008          10EUR  0          0          0
MVT   7040000000                    2250821329         0,00       845,53      1,000    329,000         V  0              10            
ANAMVT  9997                                           100,000000
MVT   7040000000                    2250821409         0,00       880,23      1,000    342,500         V  0              10            
ANAMVT  9997                                           100,000000
MVT   7040000000                    2250821479         0,00       860,18      1,000    334,700         V  0              10            
ANAMVT  9997                                           100,000000
MVT   6340000000COTISATION AU FONDS DE GARANTI         4,50         0,00      0,000      0,000         A  0              10            
ANAMVT  9997                                           100,000000
MVT   6340000000           PRESTATION NORMABEV         1,80         0,00      0,000      0,000         A  0              10            
ANAMVT  9997                                           100,000000
MVT   6340000000              COT.FOND ELEVAGE         3,12         0,00      0,000      0,000            0              10            
ANAMVT  9997                                           100,000000
MVT   6340000000           COTISATION INTERBEV        10,07         0,00      0,000      0,000            0              10            
ANAMVT  9997                                           100,000000
MVT   4456600000        TVA taux standard 19,6         1,23         0,00      0,000      0,000           A0              00            
MVT   4457150000           TVA taux réduit 5,5         0,00       142,22      0,000      0,000           V0              00            
MVT   4673101000                       FACTURE      2707,44         0,00      0,000      0,000            0              00            
