VER   020000000000 Ecritures provenant d'Agroedi1
DOS      34426                 Dossier 34426        000000 0
ECR   E111042008    8172         COOPERATIVE DU TRIEUX               AGROEDI 16  627938900002005200820052008          10EUR  0          0          0
MVT   7010000000                 COLZA ENERGIE         0,00        12,01      0,000      0,000         V  0              10            
ANAMVT  9996                                           100,000000
MVT   7010000000                 COLZA ENERGIE         0,00       251,27      0,000      0,000         V  0              10            
ANAMVT  9996                                           100,000000
MVT   7010000000                 COLZA ENERGIE         0,00        57,23      0,000      0,000         V  0              10            
ANAMVT  9996                                           100,000000
MVT   7010000000             COLZA ALIMENTAIRE         0,00        49,63      0,000      0,000         V  0              10            
ANAMVT  9996                                           100,000000
MVT   7010000000             COLZA ALIMENTAIRE         0,00        11,31      0,000      0,000         V  0              10            
ANAMVT  9996                                           100,000000
MVT   7010000000             COLZA ALIMENTAIRE         0,00         2,38      0,000      0,000         V  0              10            
ANAMVT  9996                                           100,000000
MVT   7010200000            PRIME DE TRANSPORT         0,00         0,00      0,000      0,000            0              10            
ANAMVT  9996                                           100,000000
MVT   4457150000           TVA taux réduit 5,5         0,00        21,11      0,000      0,000           V0              00            
MVT   4673101000                       FACTURE       404,94         0,00      0,000      0,000            0              00            
