VER   020000000000 Ecritures provenant d'Agroedi1
DOS      34426                 Dossier 34426        000000 0
ECR   E130042008  549809                    SICA EOLYS               AGROEDI 16  627945780002005200820052008          10EUR  0          0          0
MVT   6068000000      BOTTE CHAMBORD 39  AMBRE        41,64         0,00      0,000      0,000         N  0              00            
MVT   6068000000          BOTTE BICROSS 44 PVC        16,68         0,00      1,000      0,000         N  0              00            
MVT   4456690000        TVA taux standard 19,6        11,43         0,00      0,000      0,000           N0              00            
MVT   4673102000                       FACTURE         0,00        69,75      0,000      0,000            0              00            
