VER   020000000000 Ecritures provenant d'Agroedi1
DOS      34426                 Dossier 34426        000000 0
ECR   E131032008  529766                    SICA EOLYS               AGROEDI 16  434804840002404200824042008          10EUR  0          0          0
MVT   4746730000    VESTE POLAIRE FEMME ODETTE        20,02         0,00      1,000      0,000         N  0              00            
MVT   6027000000   RESSORT ENTRAVE 231 VRAC X2         2,76         0,00      1,000      0,000         N  0              10            
ANAMVT  9997                                           100,000000
MVT   4456690000        TVA taux standard 19,6         4,46         0,00      0,000      0,000           N0              00            
MVT   4673102000                       FACTURE         0,00        27,24      0,000      0,000            0              00            
