VER   020000000000 Ecritures provenant d'Agroedi1
DOS      34426                 Dossier 34426        000000 0
ECR   E131032008   25725                   Coop Trieux               AGROEDI 16  434801400002404200824042008          10EUR  0          0          0
MVT   7040000000                    2250821337         0,00       858,11      1,000    335,200         V  0              10            
ANAMVT  9997                                           100,000000
MVT   7040000000                    2250821473         0,00       499,41      1,000    254,800         V  0              10            
ANAMVT  9997                                           100,000000
MVT   7040000000              SAISIE PARTIELLE         2,93         0,00      0,000      0,000         V  0              10            
ANAMVT  9997                                           100,000000
MVT   7040000000              SAISIE PARTIELLE         5,99         0,00      0,000      0,000         V  0              10            
ANAMVT  9997                                           100,000000
MVT   6340000000COTISATION AU FONDS DE GARANTI         3,00         0,00      0,000      0,000         A  0              10            
ANAMVT  9997                                           100,000000
MVT   6340000000           PRESTATION NORMABEV         1,20         0,00      0,000      0,000         A  0              10            
ANAMVT  9997                                           100,000000
MVT   6340000000              COT.FOND ELEVAGE         1,83         0,00      0,000      0,000            0              10            
ANAMVT  9997                                           100,000000
MVT   6340000000           COTISATION INTERBEV         5,90         0,00      0,000      0,000            0              10            
ANAMVT  9997                                           100,000000
MVT   4456600000        TVA taux standard 19,6         0,82         0,00      0,000      0,000           A0              00            
MVT   4457150000           TVA taux réduit 5,5         0,00        74,18      0,000      0,000           V0              00            
MVT   4673101000                       FACTURE      1410,03         0,00      0,000      0,000            0              00            
ECR   E131032008  524812                   Coop Trieux               AGROEDI 16  434801401002404200824042008          10EUR  0          0          0
MVT   6023000000       MANCHE DE PIOCHE  0.90M         2,34         0,00      1,000      0,000         N  0              00            
MVT   6014000000    CROKIFOIN (ALIMENT BOVINS)        11,15         0,00     25,000      0,000         R  0              10            
ANAMVT  9997                                           100,000000
MVT   6155000000        AMPOULE H1  POUR  GYRO         1,76         0,00      1,000      0,000         N  0              00            
MVT   6155000000        AMPOULE H1  POUR  GYRO         1,76         0,00      1,000      0,000         N  0              00            
MVT   6155000000        AMPOULE H1  POUR  GYRO         1,76         0,00      1,000      0,000         N  0              00            
MVT   4746730000  DETENDEUR BUT PROP WHIRLPOOL        10,12         0,00      1,000      0,000         N  0              00            
MVT   6027000000 AGRAFE TOILE TISSEE 20CMX25CM        31,77         0,00    100,000      0,000         N  0              10            
ANAMVT  9996                                           100,000000
MVT   4456690000        TVA taux standard 19,6         9,70         0,00      0,000      0,000           N0              00            
MVT   4456650000           TVA taux réduit 5,5         0,61         0,00      0,000      0,000           R0              00            
MVT   4673101000                       FACTURE         0,00        70,97      0,000      0,000            0              00            
