body{font-family: Arial;font-size: 8pt;}
h1 {font-family: Verdana;font-size: 14pt;color:#3333cc}
h2 {font-size: 10pt;margin-bottom:0}
ul {margin-top:0}
div.date{font-style:italic;margin-bottom:10px}
table {border:solid 1px navy;border-left:none}
th {border-left:solid 1px navy;border-bottom:solid 1px navy;background:cornflowerblue}
td {border-left:solid 1px navy;padding:2px}
td.left {text-align:left}
td.right {text-align:right}
td.center {text-align:center}
tr.even {background:lavender}