VER   020000000000 Ecritures provenant d'Agroedi1
DOS      51686                 Dossier 51686        000000 0
ECR   E115032010   46461                          SICA               AGROEDI 16  445917990002704201027042010          10EUR  0          0          0
MVT   7010000000          PDT PRIM. STAR. I TV         0,00      1247,11    370,000      0,000         V  0              10            
ANAMVT  1480                                           100,000000
MVT   7010000000          PDT PRIM. STAR. I GR         0,00       303,35     90,000      0,000         V  0              10            
ANAMVT  1480                                           100,000000
MVT   2620000000                       CAPITAL         2,33         0,00      0,000      0,000            0              00            
MVT   4457150000           TVA taux réduit 5,5         0,00        85,27      0,000      0,000           V0              00            
MVT   4673090000                                    1633,40         0,00      0,000      0,000            0              00            
ECR   E116032010   46497                          SICA               AGROEDI 16  445917991002704201027042010          10EUR  0          0          0
MVT   7010000000          PDT PRIM. STAR. I TV         0,00      1567,31    465,000      0,000         V  0              10            
ANAMVT  1480                                           100,000000
MVT   7010000000          PDT PRIM. STAR. I GR         0,00       370,76    110,000      0,000         V  0              10            
ANAMVT  1480                                           100,000000
MVT   2620000000                       CAPITAL         2,91         0,00      0,000      0,000            0              00            
MVT   4457150000           TVA taux réduit 5,5         0,00       106,59      0,000      0,000           V0              00            
MVT   4673090000                                    2041,75         0,00      0,000      0,000            0              00            
ECR   E117032010   46531                          SICA               AGROEDI 16  445917992002704201027042010          10EUR  0          0          0
MVT   7010000000          PDT PRIM. STAR. I TV         0,00      1820,11    540,000      0,000         V  0              10            
ANAMVT  1480                                           100,000000
MVT   7010000000          PDT PRIM. STAR. I GR         0,00       539,29    160,000      0,000         V  0              10            
ANAMVT  1480                                           100,000000
MVT   2620000000                       CAPITAL         3,54         0,00      0,000      0,000            0              00            
MVT   4457150000           TVA taux réduit 5,5         0,00       129,77      0,000      0,000           V0              00            
MVT   4673090000                                    2485,63         0,00      0,000      0,000            0              00            
ECR   E118032010   46557                          SICA               AGROEDI 16  445917993002704201027042010          10EUR  0          0          0
MVT   7010000000          PDT PRIM. STAR. I TV         0,00      2039,19    605,000      0,000         V  0              10            
ANAMVT  1480                                           100,000000
MVT   7010000000          PDT PRIM. STAR. I GR         0,00       421,32    125,000      0,000         V  0              10            
ANAMVT  1480                                           100,000000
MVT   2620000000                       CAPITAL         3,69         0,00      0,000      0,000            0              00            
MVT   4457150000           TVA taux réduit 5,5         0,00       135,33      0,000      0,000           V0              00            
MVT   4673090000                                    2592,15         0,00      0,000      0,000            0              00            
ECR   E119032010   46580                          SICA               AGROEDI 16  445917994002704201027042010          10EUR  0          0          0
MVT   7010000000          PDT PRIM. STAR. I TV         0,00      1567,31    465,000      0,000         V  0              10            
ANAMVT  1480                                           100,000000
MVT   7010000000          PDT PRIM. STAR. I GR         0,00       370,76    110,000      0,000         V  0              10            
ANAMVT  1480                                           100,000000
MVT   2620000000                       CAPITAL         2,91         0,00      0,000      0,000            0              00            
MVT   4457150000           TVA taux réduit 5,5         0,00       106,59      0,000      0,000           V0              00            
MVT   4673090000                                    2041,75         0,00      0,000      0,000            0              00            
ECR   E122032010   46624                          SICA               AGROEDI 16  445917995002704201027042010          10EUR  0          0          0
MVT   7010000000          PDT PRIM. STAR. I TV         0,00      1650,93    505,000      0,000         V  0              10            
ANAMVT  1480                                           100,000000
MVT   7010000000          PDT PRIM. STAR. I GR         0,00       294,23     90,000      0,000         V  0              10            
ANAMVT  1480                                           100,000000
MVT   2620000000                       CAPITAL         2,92         0,00      0,000      0,000            0              00            
MVT   4457150000           TVA taux réduit 5,5         0,00       106,98      0,000      0,000           V0              00            
MVT   4673090000                                    2049,22         0,00      0,000      0,000            0              00            
ECR   E123032010   46666                          SICA               AGROEDI 16  445917996002704201027042010          10EUR  0          0          0
MVT   7010000000          PDT PRIM. STAR. I TV         0,00      1585,54    485,000      0,000         V  0              10            
ANAMVT  1480                                           100,000000
MVT   7010000000          PDT PRIM. STAR. I GR         0,00       343,26    105,000      0,000         V  0              10            
ANAMVT  1480                                           100,000000
MVT   2620000000                       CAPITAL         2,89         0,00      0,000      0,000            0              00            
MVT   4457150000           TVA taux réduit 5,5         0,00       106,08      0,000      0,000           V0              00            
MVT   4673090000                                    2031,99         0,00      0,000      0,000            0              00            
ECR   E124032010   46708                          SICA               AGROEDI 16  445917997002704201027042010          10EUR  0          0          0
MVT   7010000000          PDT PRIM. STAR. I TV         0,00      1373,05    420,000      0,000         V  0              10            
ANAMVT  1480                                           100,000000
MVT   7010000000          PDT PRIM. STAR. I GR         0,00       310,57     95,000      0,000         V  0              10            
ANAMVT  1480                                           100,000000
MVT   2620000000                       CAPITAL         2,53         0,00      0,000      0,000            0              00            
MVT   4457150000           TVA taux réduit 5,5         0,00        92,60      0,000      0,000           V0              00            
MVT   4673090000                                    1773,69         0,00      0,000      0,000            0              00            
ECR   E125032010   46742                          SICA               AGROEDI 16  445917998002704201027042010          10EUR  0          0          0
MVT   7010000000          PDT PRIM. STAR. I TV         0,00      1422,09    435,000      0,000         V  0              10            
ANAMVT  1480                                           100,000000
MVT   7010000000          PDT PRIM. STAR. I GR         0,00       326,92    100,000      0,000         V  0              10            
ANAMVT  1480                                           100,000000
MVT   2620000000                       CAPITAL         2,62         0,00      0,000      0,000            0              00            
MVT   4457150000           TVA taux réduit 5,5         0,00        96,19      0,000      0,000           V0              00            
MVT   4673090000                                    1842,58         0,00      0,000      0,000            0              00            
